/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,600,600italic,400italic);
*/
body {
  font-size: 16;
  line-height: 30px;
  color: #647276;
  -webkit-font-smoothing: antialiased;
  background-color: #FEFEFE;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

body, html {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 80%;
  max-width: 1400px;
  min-width: 780px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: 33px;
  line-height: 36px;
  margin: 20px 30px;
  display: inline-block;
  font-weight: 400;
}

.columns .right h2 {
  font-size: 22px;
  line-height: 32px;
  font-weight: 600;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

p {
  margin: 18px 0;
  padding: 0;
  display: block;
  text-align: justify;
}

.info-box {
  background: #e6f1f4;
  border-radius: 3px;
  margin: 2rem 0;
  padding: 1.5rem 2rem;
  overflow: hidden;
  display: block;
  text-align: justify;
}

.highlighter-rouge {
  background: #eee;
  border-radius: 3px;
  padding: 6px;
  margin: 1.3rem 0;
}

.highlighter-rouge pre {
  box-sizing: border-box;
  margin: 0px;
  background: #eee;
  border-radius: 3px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

.highlighter-rouge .file {
  box-sizing: border-box;
  background-color: #333;
  color: #FFF;
  margin: 0px;
  padding: 6px 6px;
  font-family: 'Source Code Pro', monospace;
}

li code, p code {
  font-size: 14px;
  line-height: inherit;
  background: #eee;
  border-radius: 3px;
  margin: 0 0.33333rem;
  padding: 0px 4px;
  font-family: 'Source Code Pro', monospace;
  display: inline-block;
}

a:hover {
  color: #07394a;
}

a {
  transition: color 0.1s linear;
  color: #27a5cd;
  text-decoration: none;
}

ul, ol {

}

li {
  margin: 6px 0px;
}

p, li {
  line-height: 30px;
}

.columns {
  box-sizing: border-box;
  display: table;
  width: 100%;
}

.columns .right,
.columns .left {
  display: table-cell;
  box-sizing: border-box;
}

.columns .left {
  width: 340px;
  border-right: 1px solid #f0f2f1;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.columns .right {
  padding: 30px;
}

.header {
  border-bottom: 1px solid #dee0df;
}

.columns .left h2 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.columns .left ul {
  margin: 20px;
  padding: 0;
}

.columns .left ul li {
  margin: 0;
  padding: 0;
}

.columns .left ul li a {
  font-size: 16px;
  line-height: 25px;
}

img {
  display: block;
  box-sizing: border-box;
  width: 100%;
}


div.error,
div.warning,
div.notice,
div.success {
  margin: 10px 5px;
  padding: 8px 10px 8px 30px;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: 16px 16px;
  font-weight: normal;
  font-family: inherit;
  box-sizing: border-box;
}

div.error a,
div.warning a,
div.notice a,
div.success a {
  color: inherit !important;
  text-decoration: none;
  border-bottom: 1px dotted;
}

div.error {
  background-color: #FEE;
  border: 1px solid #D55;
  background-image: url('../images/exclamation.png');
  color: #A22;
}

div.warning {
  background-color: #FFD;
  border: 1px solid #ECA;
  background-image: url('../images/error.png');
  color: #A22;
}

div.notice {
  background-color: #EEF;
  border: 1px solid #AAC;
  background-image: url('../images/information.png');
  color: #337;
}

div.success {
  background-color: #EFE;
  border: 1px solid #ACA;
  color: #373;
  background-image: url('../images/accept.png');
}


table, table.reset {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

table td, table th, table.reset td, table.reset th {
  padding: 0;
  margin: 0;
  vertical-align: top;
  border: 0;
}

table.pad td, table.pad th, table.reset.pad td, table.reset.pad th {
  padding: 4px !important;
}

table tr, table.reset tr {
  border: 0;
}

table td strong {
  font-weight: bold;
}

table.reset td {
  padding: 0px !important;
}

table.reset tr {
  border: 0px !important;
}

table.reset tr:nth-child(2n) {
  background-color: inherit !important;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}


table.grid {
  color: #252626;
  background-color: #FFF;
}

table.grid thead tr {
  border-top: 1px solid rgb(218, 222, 229);
  background-color: #666 !important;
  color: #FFF;
}

table.grid thead tr td {
  padding: 5px;
}

table.grid td {
  font-size: 16px;
}

table.grid.nohead tr:first-child
{
  border-top: 1px solid rgb(218, 222, 229);
  background-color: #666 !important;
  color: #FFF;
}

table.grid tr {
  border-bottom: 1px solid rgb(218, 222, 229);
  border-right: 1px solid rgb(218, 222, 229);
  border-left: 1px solid rgb(218, 222, 229);
  background-color: rgb(252,252,250);
}

table.grid td, table.grid th {
  padding: 2px 5px 2px 5px;
  text-align: left;
}

table.grid tbody tr td {
  padding: 10px;
}

table.grid th {
  font-weight: 600;
  padding: 10px;
}

table.grid th a, table.grid th a:link, table.grid th a:visited {
  color: #FFF;
  text-decoration: none;
  border-bottom: none;
}

table.grid tr:nth-child(2n) {
  background-color: #F0F0F4;
}

table.grid tr.selected {
  background-color: #FFFFBE;
}


table.grid.table-nav td {
  font-size: 16px;
  padding: 10px;
}

table.grid.table-nav tr {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

table.grid.table-nav tr:hover {
  background: #FFFFAA !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFF6D), to(#FFFFAA)) !important;
  background: -moz-linear-gradient(top,  #FFFF6D,  #FFFFAA) !important;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF6D', endColorstr='#FFFFAA') !important;
}

table.grid.table-nav a {
  border: 0 !important;
  text-decoration: none;
}

table.grid td.control
{
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

table.grid.midalign td {
  vertical-align: middle !important;
}

table.grid tbody tr:first-child {
  border-top: 1px solid rgb(218, 222, 229);
}

table.grid thead+tbody tr:first-child {
  border-top: none !important;
}

.image-frame {
  display: block;
  background-color: #999;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  color: #FFF;
  border: 2px solid #000;
}

.image-frame:hover {
  color: #FFF;
}

.image-frame img {
  border: 2px solid #000;
  box-sizing: border-box;
}

.image-frame span {
  display: block;
  padding-left: 7px;
  padding-right: 7px;
}